/*Cory Hamelehle
CINS 110
Project
*/
body.yay{
  background-color: aqua;
}
h1.title{
  color: blue;
}
p.prettycolors{
 background-color: lightpink;
 color: purple;
}
div.optionp{
  background-color: turquoise;
}
div.optionpu{
  background-color: gold;
}
div.optionpv{
  background-color: lightblue;
}
